.containerDetail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0em 18em;
    justify-content: center;
    align-items: center;
}
.homeBtn{
    position: sticky;
    top: 2em;
    font-size: 1.3em;
    padding: 0.4em 1.1em;
    border-radius: 20px;
    margin-top: 2em;
    margin-right: 80%;
    color: #E6E49F;
    background: rgb(37,41,28);
    background: linear-gradient(0deg, rgb(37,41,28) 0%, rgb(197,195,140) 100%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    width: 8em;
    outline: 1px solid;
    outline-color: rgba(141, 156, 48, 0.6);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .homeBtn:hover {
    box-shadow: inset 0 0 20px rgba(137, 136, 43, 0.5), 0 0 20px rgba(186, 216, 65, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }

  .detailTitle{
      font-size: 3em;
      color: #d7bea7;
      -webkit-text-stroke: 0.5px black;
  }
  .image{
      width: 40%;
  }
  .summary{
      color: #d7bea7;
      font-size: 1.2em;
      border: solid 1px white;
      border-radius: 10px;
      padding: 1em;
      background-color: rgba(0, 0, 0, 0.387);
  }



  .containerScore{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30em;
      font-size: 1.7em;
      color: #c5aa90;
      font-weight: 600;
      -webkit-text-stroke: 0.5px black;
  }
  .score{
      border: solid 1px white;
      padding: 0.3em 0.7em;
      background-color: rgba(0, 0, 0, 0.356);
      border-radius: 10px;
      font-size: 1.2em;
  }

  .containerList{
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.386);
  }

  .liDetail{
      color: #d7bea7;
      font-size: 1.3em;
      margin: 0.7em;
     text-align: left;
  }

  .loader {
      position: absolute;
      top: 15em;
      right: 40em;
      width: 200px;
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
  }
  .loader span {
      font-size: 3em;
      text-transform: uppercase;
      margin: auto;
      color: #E6E49F;
      font-weight: 500;
  }
  .ball{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #E6E49F;
      animation: bounce .5s alternate infinite;
  }
  .ball:nth-child(2){
      animation-delay: .16s;
  }
  .ball:nth-child(3){
    animation-delay: .32s;
}

@keyframes bounce {
    from{
        transform: scaleX(1.25);
    }
    to{
        transform: translateY(-50px) scaleX(1)
    }
}