.dots{
    letter-spacing: .15em;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1em;
}

.card{
    border: solid 1px black;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    width: 18em;
    padding: 1em;
    margin: 2em;
    background-color: #8f5f51;
}

.diets{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.loadingFace{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 7em;
}

.pizza{
    animation: rotation 3s infinite linear;
    margin: 1em;
}

.loading{
    color: #E3E7D3;
    font-size: 3em;
    margin-top: 2em
}
.pagination{
    margin-right: 8em;
}

.containerMaster{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navAndRecipe{
    display: flex;
    flex-direction: row;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  