.labelTitle{
    color: #CFB9A5;
    font-size: 2em;
    font-weight: 500;
    -webkit-text-stroke: 1px #76695c;
}

.createContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;

}
form{
    display: flex;
    flex-direction: row;
}
h2{
    font-size: 3.2em;
    color: #d7bea7;
    -webkit-text-stroke: 0.5px black;
}

.buttonAndTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
}
.homeBtn{
    font-size: 1.3em;
    padding: 0.4em 1.1em;
    border-radius: 20px;
    margin-bottom: 6em;
    color: #E6E49F;
    background: rgb(37,41,28);
    background: linear-gradient(0deg, rgb(37,41,28) 0%, rgb(197,195,140) 100%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    width: 8em;
    outline: 1px solid;
    outline-color: rgba(141, 156, 48, 0.6);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .homeBtn:hover {
    box-shadow: inset 0 0 20px rgba(137, 136, 43, 0.5), 0 0 20px rgba(186, 216, 65, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.error{
    color: #EDEBA0;
    font-size: 1.2em;
    font-weight: 700;
}

.inputError{
    border: solid 2px rgb(248, 36, 36);
    width: 18em;
    padding: 0.3em;
    border-radius: 7px;
    background-color: #CFB9A5;
    font-size: 1em;
    font-weight: 600;
}
.inputClass{
    width: 18em;
    padding: 0.3em;
    border-radius: 7px;
    border: solid 2px #28262C;
    background-color: #CFB9A5;
    font-size: 1em;
    font-weight: 600;
}

.submitBtn{
    font-size: 1.7em;
    font-weight: 500;
    padding: 0.6em 1.7em;
    border-radius: 20px;
    color: #E6E49F;
    margin-left: 2em;
    margin-top: 12em;
    background: rgb(37,41,28);
    background: linear-gradient(0deg, rgb(37,41,28) 0%, rgb(197,195,140) 100%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    width: 8em;
    outline: 1px solid;
    outline-color: rgba(141, 156, 48, 0.6);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .submitBtn:hover {
    box-shadow: inset 0 0 20px rgba(137, 136, 43, 0.5), 0 0 20px rgba(186, 216, 65, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }
  .checkboxContainer{
      padding: 2em 3em;
      border: solid 2px black;
      display: flex;
      flex-direction: column;
      line-height: 2em;
      margin-left: 3em;
      margin-top: 5em;
      border-radius: 10px;
      box-shadow: 20px 24px 87px 29px rgba(0,0,0,0.75);
      -webkit-box-shadow: 20px 24px 87px 29px rgba(0,0,0,0.75);
      -moz-box-shadow: 20px 24px 87px 29px rgba(0,0,0,0.75);
  }
  .text{
      color: #CFB9A5;
      font-size: 1.3em;
      font-weight: 600;
  }
 /*COMO HACER PARA QUE SE VAYA PARA ABAJO EL TEXTO*/
  #analyzedInstructions{
      padding-bottom: 7em;
  }