.lowerBar{
    list-style: none;
    border: solid 1px #1B1F3B;
    padding: 1.1em 1.6em;
    background-color: #754f44;
    border-radius: 10px;
}
.numbers {
    display: inline;
    border: solid 1px #1b1f3b86;
    padding: 0.5em 1.3em;
    cursor: pointer;
    background-color: #eacdc2c8;
    border-radius: 10px;
    margin: 0.3em;
}
/*CHEQUEAR QUE FUNCIONE BIEN*/
.numbers:hover{
    transition: ease-out .5s;
    transform: scale(1.3);
}
/*PUEDE GENERAR PROBLEMAS, FIJARSE BIEN*/
.navBar{
    margin-left: 10em;
}